@import models.products.Category
@import models.products.Product
@import models.users.User
@(env: play.api.Environment, user: User)
@main("", user) {
    <!-- HTML content for the index view -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46249700-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <div class="row">
	<div class="page-contents">
        <!-- About us ---->
        <div class="jumbotron about" id="0">
            <div class="container center">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>About Us</h1>
                        <p>Inspired by a software engineer for a father whilst my brother and I grew up in the mid 70's. Spending time together on our fathers computer during our teenage years quickly revealed our passion for electronics and software. We decided to become partners after we both graduated from MIT with degrees in computer software engineering.</p> 
                        <p>We opened our first store in our hometown, Brooklyn NY, in 1984. So many people came to our store in the years following, building long lasting friendships with ourselves and our small staff team. We were always putting the customer first making sure to provide the best possible prices for our trusting customers and that is what the <a id="topleft">MR.ROBOT</a> brand is built upon</p>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-sm-7 col-sm-push-1 col-xs-12">
                        <img src="@routes.Assets.versioned("images/oldmac.jpg")" class="img-responsive" id="oldmac">
                    </div>
                    <div class="breathingroom visible-xs"></div>
                </div>
            </div>
        </div>
        <!-- content ---->

    </div>
}
